<div class="container" style="background-image: url('http://assets.bonappetit.com/photos/57ae0a63f1c801a1038bcf18/16:9/w_1000,c_limit/texas-style-smoked-brisket.jpg'); background-repeat: no-repeat;"> 
  <div class="jumbotron" style="background: none;" >
    <div class="jumbotron-content col-md-3" style="background-color:#E8E6DE; opacity: 0.95; margin-bottom: 15px; border-radius: 10px; padding-top: 10px;"  >
      <p class="jumbotron-lg-only">Join our community</p>
        <form name="user-info  " ">
         <div class="form-group "  >

            <h2>Sign up</h2>

            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= devise_error_messages! %>

              <div class="field">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true %>
              </div>

              <div class="field">
                <%= f.label :password %>
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br />
                <%= f.password_field :password, autocomplete: "off" %>
              </div>

              <div class="field">
                <%= f.label :password_confirmation %><br />
                <%= f.password_field :password_confirmation, autocomplete: "off" %>
              </div><br>

              <div class="actions">
                <%= f.submit "Sign up", class: "btn btn-primary" %>
              </div>
            <% end %>

            <%= render "devise/shared/links" %>
          </div>
        </form>
      </div>
    </div>
  </div>
