
<div class="container" style="background-image: url('http://assets.bonappetit.com/photos/57ae0a63f1c801a1038bcf18/16:9/w_1000,c_limit/texas-style-smoked-brisket.jpg'); background-repeat: no-repeat;"> 
  <div class="jumbotron" style="background: none;" >
    <div class="jumbotron-content col-md-3" style="background-color:#E8E6DE; opacity: 0.95; margin-bottom: 15px; border-radius: 10px; padding-top: 10px;"  >
      <p class="jumbotron-lg-only">Join our community or login now</p>
        <form name="user-info  " ">
         <div class="form-group "  >

            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field form-group">
              <%= f.label :email %><br />
              <%= f.email_field :email %>
            </div>
            <div class="field">
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "off" %>
            </div>
            <% if devise_mapping.rememberable? -%>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end -%>
            <div class="actions ">
              <%= f.submit "Log in", class: "btn btn-primary" %>
            </div>
          <% end %>
          <br>
           <%= render "devise/shared/links" %>

          </div>  
      </div>
    </div>
  </div>

