<!DOCTYPE html>
<html>
  <head>
    <title>QFinder</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "application"%>
    <%= javascript_include_tag "homepages"%>

    <%= stylesheet_link_tag "homepages" %>
    <%= stylesheet_link_tag "application"%>
    <%= stylesheet_link_tag "places"%>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqtllZChDaFEMFPhL-RJRn-vqNr5o0_c8&libraries=places"></script>


  </head>

  <body>

  <%= render "homepages/navbar" %>


	  <% if notice %>
		  <p class="alert alert-success"><%= notice %></p>
		<% end %>
		<% if alert %>
		  <p class="alert alert-danger"><%= alert %></p>
		<% end %>

    <%= yield %>
    
  </body>
</html>
