<!DOCTYPE html>
<html>
  <head>
    <title>QFinder</title>
    <script>
      <% if !@location.nil? %>
      var this_place = {lat: <%=@location[:lat]%>, lng: <%=@location[:lng]%>}
      <% end %>
    </script>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "places"%>
    <%= stylesheet_link_tag "application"%>
    <%= stylesheet_link_tag "places"%>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqtllZChDaFEMFPhL-RJRn-vqNr5o0_c8&libraries=places"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
